# Node & Vite dependencies
node_modules/
dist/
dist-ssr/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python & YOLO related (for machine learning models & data)
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.ipynb_checkpoints/
*.pt
*.onnx
runs/
datasets/
yolov8n.pt

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
